<summary>
  <div class="img_container">
    <img alt="calendar" src="assets/scheduler.svg"/>
  </div>
  <div class="bulletins">
    <div class="bulletin">
      <div class="project">
        <span>1</span>
        <h1>Create a project</h1>
      </div>
      <p>Kickstart your project effortlessly with intuitive tools that help you set up and define your goals in
        minutes.</p>
    </div>
    <div class="bulletin">
      <div class="project">
        <span>2</span>
        <h1>Assign related people</h1>
      </div>
      <p>Collaborate effectively by assigning tasks to the right team members, keeping everyone aligned with the project
        vision.</p>
    </div>
    <div class="bulletin">
      <div class="project">
        <span>3</span>
        <h1>Make it done on-time</h1>
      </div>
      <p>Track progress and meet deadlines with real-time updates and notifications, ensuring timely project
        completion.</p>
    </div>
  </div>
</summary>
