<main>
  <div class="hero_text">
    <h1>Get things done by awesome remote team</h1>
    <p>
      We share common trends and strategies for improving you rental income and
      making sure your stay in high demand.
    </p>
  </div>
  <div class="buttons_wrapper">
    <app-button
      icon="assets/tail-right.svg"
      text="Get started for free"
      variant="outlined"
    />
    <button>Learn More</button>
  </div>
  <div>
    <img alt="hero image" src="assets/hero_img.svg"/>
  </div>
</main>
