<div class="scroller" data-animated="true" data-direction="left" data-speed="fast">
  <div class="scroller__inner">
    <div class="testimonial">
      <div class="testimonial_img">
        <img alt="profile" src="assets/Oval.svg"/>
      </div>
      <div class="testimonial_text">
        <h1>“You made it so simple”</h1>
        <p>My new site is so much faster and easier <br/> to work with than my old site.</p>
        <h2>Carey Valdez</h2>
        <p>Founder of Zenix</p>
      </div>
    </div>
    <div class="testimonial">
      <div class="testimonial_img">
        <img alt="profile" src="assets/Oval.svg"/>
      </div>
      <div class="testimonial_text">
        <h1>“You made it so simple”</h1>
        <p>My new site is so much faster and easier <br/> to work with than my old site.</p>
        <h2>Carey Valdez</h2>
        <p>Founder of Zenix</p>
      </div>
    </div>
    <div class="testimonial">
      <div class="testimonial_img">
        <img alt="profile" src="assets/Oval.svg"/>
      </div>
      <div class="testimonial_text">
        <h1>“You made it so simple”</h1>
        <p>My new site is so much faster and easier to work with than my old site.</p>
        <h2>Ian Klein</h2>
        <p>Digital Marketer</p>
      </div>
    </div>
  </div>
</div>
