<main class="card">
  <div class="card-item">
    <div class="icon">
      <img alt="code" src="assets/code.svg" />
    </div>
    <div class="title">
      <h1>Project Development</h1>
      <p>
        Streamline your development process with our intuitive tools, designed
        to help you build and manage projects efficiently.
      </p>
    </div>
  </div>
  <div class="card-item">
    <div class="icon">
      <img alt="code" src="assets/countdown.svg" />
    </div>
    <div class="title">
      <h1>Time Tracking</h1>
      <p>
        Keep track of every task and milestone in real time, ensuring you meet
        deadlines and stay organized.
      </p>
    </div>
  </div>
  <div class="card-item">
    <div class="icon">
      <img alt="code" src="assets/smartphone.svg" />
    </div>
    <div class="title">
      <h1>Beautiful Mobile App</h1>
      <p>
        Build stunning, user-friendly mobile applications that offer an
        exceptional experience on any device.
      </p>
    </div>
  </div>
</main>
