<footer>
  <div class="footer_content">
    <div class="footer_brand">
      <h1>Brainwave.io</h1>
      <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
      <div class="socials">
        <img alt="twitter logo" src="assets/logo-twitter.svg"/>
        <img alt="facebook logo" src="assets/logo-facebook.svg"/>
        <img alt="instagram logo" src="assets/logo-instagram.svg"/>
        <img alt="linkedin logo" src="assets/logo-linkedin.svg"/>
      </div>
    </div>
    <div class="footer_links">
      <div class="company">
        <p>Company</p>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
        </ul>
      </div>
      <div class="product">
        <p>Product</p>
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Help desk</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="services">
        <p>Services</p>
        <ul>
          <li><a href="#">Digital Marketing</a></li>
          <li><a href="#">Content Writing</a></li>
          <li><a href="#">SEO for Business</a></li>
          <li><a href="#">UI Design</a></li>
        </ul>
      </div>
      <div class="legal">
        <p>Legal</p>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Return Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
