<div class="pricing_container">
  <h1 class="pricing_&_plans">Pricing & Plans</h1>
  <p class="sub_text">With lots of unique blocks you can easily build a page without <br/> coding.
    Build your next landing page.</p>
  <div class="card_section">
    <app-card
      badge="BASIC"
      buttonText="Get Started"
      paymentType="One time payment"
      price="$29"
    ></app-card>
    <app-card
      badge="PREMIUM"
      buttonText="Get Started"
      paymentType="One time payment"
      price="$49"
      title="Premium Plan"
    ></app-card>
    <app-card
      badge="STANDARD"
      buttonText="Get Started"
      paymentType="One time payment"
      price="$99"
      title="Premium Plan"
    ></app-card>
  </div>
  <!--  <div class="Q_&_A">-->
  <!--    <div class="Q_&_A_one">-->
  <!--      <span>?</span>-->
  <!--      <h1>Can I use Albino for my clients?</h1>-->
  <!--    </div>-->
  <!--    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer-->
  <!--      ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.</p>-->
  <!--  </div>-->
  <!--  <div class="Q_&_A">-->
  <!--    <div class="Q_&_A_one">-->
  <!--      <span>?</span>-->
  <!--      <h1>Do I get free updates?</h1>-->
  <!--    </div>-->
  <!--    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer-->
  <!--      ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.</p>-->
  <!--  </div>-->
  <!--  <div class="Q_&_A">-->
  <!--    <div class="Q_&_A_one">-->
  <!--      <span>?</span>-->
  <!--      <h1>Do I get free updates?</h1>-->
  <!--    </div>-->
  <!--    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer-->
  <!--      ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.</p>-->
  <!--  </div>-->
  <!--  <div class="Q_&_A">-->
  <!--    <div class="Q_&_A_one">-->
  <!--      <span>?</span>-->
  <!--      <h1>Do I get free updates?</h1>-->
  <!--    </div>-->
  <!--    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer-->
  <!--      ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.</p>-->
  <!--  </div>-->
</div>

